.transacion__history {
  margin-top: 30px;
  width: 800px;
  border: 2px solid grey;
  background-color: honeydew;
  box-shadow: 0px 0px 10px 2px dimgray;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: rgb(42, 203, 243);
  color: rgb(255, 255, 255);
  padding: 20px 0 20px 0;
  // width: 100%;
}

.value {
  text-align: center;
}

.title__value {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0 20px 0;
}

// .title__value:not(:last-child) {
//   border-right: 1px solid grey;
// }

.value:nth-child(2n) {
  background-color: grey;
}
